/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: "Poppins";
}

p,
input,
select,
textarea {
  font-family: "Roboto";
}
body {
  background-color: #070707;
  color: white;
}
/* HEADER */
header {
  background-color: #fff;
  height: 80px;
}
header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
}

header #navbar .nav-brand {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}
header #navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
header #navbar .nav-list .nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
}
header #navbar .nav-list .nav-item a:hover {
  color: #777;
  transition: color 0.3s;
}

/* SECTION BANNER */

main {
  margin-top: 4rem;
}

main #banner {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  padding: 0 4rem;
}
main #banner .banner-content .banner-content-title {
  font-size: 44px;
  font-weight: 700;
}
span {
  color: #396;
}

main .banner-content p {
  margin: 40px 0;
}
main button {
  padding: 10px 20px;
  background-color: #396;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
main button:hover {
  background-color: #398;
  transition: color 0.5s;
}
main img {
  border-radius: 4px;
}
