* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: "Poppins";
}
body {
  background-color: #070707;
  color: white;
}
p,
input,
select,
textarea {
  font-family: "Roboto";
}
